<h1><%= @user.username  %></h1>
<h6>joined <%= link_to "Helpnoob", root_path %> on <%= @user.created_at.strftime("%B %Y") %> </h6>

<h4><%= @user.username%>'s posts </h4>
<% @posts.each do |post| %>
	<% if post.user_id=@user.id  %>
	<% my_var = 0 %>
	  	<%= link_to post_votes_path(post, direction: "up"), :method => :post, class: "btn btn-mini" do %>
		<i class="icon-chevron-up"></i>
		<% end %>

		<strong><span> <%= post.vote_number %> </span></strong>

		<%= link_to post_votes_path(post, direction: 'down'), :method => :post, class: "btn btn-mini" do %>
		<i class="icon-chevron-down"></i>
		<% end %>

		<span> </span><%= display_url_link(post) %> 
		(<%= link_to pluralize(post.comments.count, "comment"), post_path(post) %> )
		<%=  post.user.username %> 

		</br>
		</br>
		<% my_var += 1%>
			<% if my_var>10 %>
				<% break %>
		    <% end %>
    <% end %>
<% end %>

<h4><%=@user.username%>'s comments </h4>
	 <% @comments.each do |comment| %>
	 	<% if comment.user_id=@user.id  %>
	 	<p> <%= comment.content %> 
	 		</br>
	 		<%= comment.user.username if comment && comment.user %><% end %>
	 	</p>
	 <% end %>

 <% if !Twitter.user_timeline(@user.twitter.to_s).empty? %>
	<h4><%= @user.username%>'s Twitter stream: @<%=@user.twitter %></h4>	 
		<% if !@user.twitter.blank? %>
			<ul>
				<% Twitter.user_timeline(@user.twitter.to_s).each do |status|%>
					<li><%= status.text %></li>
			<% end%>
		    </ul>
	    <%end%>
 <% end%>

