<h5>Noobs' problems:</h5>
 

	<% @posts.each do |post| %>
  	<%= link_to post_votes_path(post, direction: "up"), :method => :post, class: "btn btn-mini" do %>
	<i class="icon-chevron-up"></i>
	<% end %>

	<strong><span> <%= post.vote_number %> </span></strong>

	<%= link_to post_votes_path(post, direction: 'down'), :method => :post, class: "btn btn-mini" do %>
	<i class="icon-chevron-down"></i>
	<% end %>

	<%= display_url_link(post) %> 

	By
	<%=  link_to post.user.username, user_path(post.user) %> || <%= link_to pluralize(post.comments.count, "comment"), post_path(post) %> 
	</br>
	</br>

<% end %>

