 <tr>
   
    <th> <%= link_to @post.title, @post.url %> </th>
    <th> <%= @post.comments.length%></th>

   
  </tr>

 <%=  form_for( [@post, @comment]) do|f| %>
	
	  <fieldset>
	     <label>Comment here</label>
	    <%= f.text_field :content %>

	    <span class="help-block"></span>
	   
	    <%= f.submit "save!" %>
	  </fieldset>
	
<% end %>

	 <% @post.comments.each do |comment| %>
	 	<p> <%= comment.content %> </p>
	 <% end %>


