 <tr>
   
    <th> <%= link_to @post.title, @post.url %> </th>
    <th> <%= @post.comments.length%></th>

   
  </tr>

 <%=  form_for( [@post, @comment]) do|f| %>
  
 		<% if !@comment.valid? %>
		  <div class='alert alert-error'>
    		<%= @comment.errors.full_messages.join('<br/>').html_safe %>
 		</div>
		<% end %>

	
	  <fieldset>
	     <%= f.label :content , "Comment"%>
	    <%= f.text_field :content %>

	    <span class="help-block"></span>
	   
	    <%= f.submit "save!" %>
	  </fieldset>

	
<% end %>

	 <% @post.comments.each do |comment| %>
	 	<p> <%= comment.content %> </p>
	 <% end %>


